@mixin webGrad{
  background: rgb(80,109,238);
  background: linear-gradient(225deg, rgba(80,109,238,0.7525672804532578) 0%, rgba(0,212,255,1) 100%);
}

@mixin gameGrad{
  background: rgb(255,0,0);
  background: linear-gradient(225deg, rgba(255,0,0,0.908000700280112) 0%, rgba(255,132,0,0.8883928571428571) 100%);
}

@mixin graphGrad{
  background: rgb(171,250,91);
  background: linear-gradient(225deg, rgba(171,250,91,0.908000700280112) 0%, rgba(0,255,8,0.8883928571428571) 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    height: 100vh;
}

h1 {
    font-size: 3.5rem;
    color: white;
}

.era {
    width: 0vw;
    height: 0.5vw;
    margin: 10%;
    padding-left: 12px;
    transition: width 1.5s ease;
}

// .era:hover {
//     width: 4.5vw;
//     background-color: red;
// }

#E:hover{
  width: 4.5vw;
  @include webGrad;
}

#R:hover{
  width: 4.5vw;
  @include gameGrad;
}

#A:hover{
  width: 4.5vw;
  @include graphGrad;
}
